<%= render 'shared/noindex' %>
<div class="auth-wrapper">
  <%= render "devise/shared/auth_benefits" %>

  <div id="signup-page" class="container_content">
    <h1>Creare cont</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-style" %>
      </div>

      <div class="field">
        <%= f.label :password do %>
          Parolă <em>(<%= @minimum_password_length %> caractere minim)</em>
        <% end %>
        <div class="password-wrapper">
          <%= f.password_field :password, autocomplete: "new-password", class: "input-style" %>
          <button type="button" class="password-eye" onclick="togglePassword(this)" tabindex="-1">
            <svg class="eye-show" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
            <svg class="eye-hide" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display:none"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"/><line x1="1" y1="1" x2="23" y2="23"/></svg>
          </button>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmare parolă" %>
        <div class="password-wrapper">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-style" %>
          <button type="button" class="password-eye" onclick="togglePassword(this)" tabindex="-1">
            <svg class="eye-show" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
            <svg class="eye-hide" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display:none"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"/><line x1="1" y1="1" x2="23" y2="23"/></svg>
          </button>
        </div>
      </div>

      <div class="actions" style="margin-top: 20px;">
        <%= f.submit "Creează cont", class: "link-button" %>
      </div>
    <% end %>

    <div class="devise-links special">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
