<div class="container_content user-form">
<div style="max-width:680px; margin: 0 auto;">
  <h1 class="admin-title">➕ Adaugă utilizator</h1>

  <%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div class="form-errors">
        <h2><%= pluralize(@user.errors.count, "eroare") %>:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :email, "Email" %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password, "Parolă" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation, "Confirmare parolă" %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :role, "Rol" %>
      <%= form.select :role, [["Client", 0], ["Administrator", 1], ["Manager", 2]], {}, class: "form-control" %>
    </div>

    <div class="form-actions">
      <%= form.submit "Creează utilizator", class: "form-button" %>
    </div>
  <% end %>

  <%= link_to "← Înapoi", users_path, class: "link-button mt-lg" %>
</div>
</div>