<div id="forgot-password-page" class="container_content">
  <h1>Schimbă parola</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password do %>
        Parolă nouă <em>(<%= @minimum_password_length %> caractere minim)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input-style" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmă parola nouă" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-style" %>
    </div>

    <div class="actions" style="margin-top: 20px;">
      <%= f.submit "Schimbă parola", class: "link-button" %>
    </div>
  <% end %>

  <div class="devise-links special">
    <%= render "devise/shared/links" %>
  </div>
</div>
