<div class="container_content admin-panel">
  <h1 class="admin-title">ðŸ“‚ Panou administrare</h1>
  <p class="admin-welcome">Bine ai venit, <%= current_user.email %>!</p>

  <ul class="admin-links">
    <li><%= link_to "ðŸ›’ Gestionare produse", products_path %></li>
    <li><%= link_to "ðŸ“‚ Vezi categorii", categories_index_products_path %></li>
    <li><%= link_to "ðŸ‘¤ Utilizatori", users_path %></li>
    <li><%= link_to "ðŸ·ï¸ Gestionare cupoane", coupons_path %></li>
    

     <li><%= link_to "Utilizare RAM", mem_path %></li>
     <li><%= link_to "ðŸ“ˆ Istoric RAM", ram_logs_path %></li>

     <li><%= link_to "ðŸ§¹ CurÄƒÈ›Äƒ RAM (GC)", force_gc_products_path %></li>

<%= button_to "SimuleazÄƒ GC È™i eliberare RAM", simulate_memory_usage_and_gc_path, method: :post, data: { turbo: false } %>


  </ul>
</div>

<style>
.admin-panel {
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #8b0000;
  border-radius: 10px;
  background-color: #fff8f8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.admin-title {
  font-size: 28px;
  color: #8b0000;
  text-align: center;
  margin-bottom: 20px;
}

.admin-welcome {
  text-align: center;
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
}

.admin-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-links li {
  margin: 10px 0;
}

.admin-links a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bc2c2c;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.admin-links a:hover {
  background-color: #8b0000;
  color: #fff;
}

</style>