<%= render 'shared/noindex' %>
<div class="auth-wrapper">
  <%= render "devise/shared/auth_benefits" %>

  <div id="login-page" class="container_content">
    <h1>Autentificare</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-style" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input-style" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Autentificare automată" %>
        </div>
      <% end %>

      <div class="actions" style="margin-top: 20px;">
        <%= f.submit "Intră în cont", class: "link-button" %>
      </div>
    <% end %>

    <div class="devise-links special">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>