<%= render 'shared/noindex' %>
<div class="container_content product-list">
  <h1 class="admin-title">🛒 Listă produse</h1>

  <div class="product-actions">
    <%= link_to "➕ Adaugă produs", new_product_path, class: "form-button" %>
  </div>
Codul maxim existent: <%= @products.pluck(:sku).max_by { |sku| sku.sub('cod', '').to_i } %>
  <div class="table-wrapper">
<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cod</th>
      <th>Nume</th>
      <th>Preț</th>
      <th>Stoc</th>
      <th>Status</th>
      <th>Acțiuni</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.sku %></td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price, unit: "RON ") %></td>
        <td><%= product.stock %></td>
        <td><%= product.status.capitalize %></td>
        <td class="table-actions">
          <%= link_to "Detalii", product_path(product), class: "table-button neutral" %>
          <%= link_to "Editează", edit_product_path(product), class: "table-button primary" %>
          <%= button_to "Șterge", product_path(product), method: :delete, data: { confirm: "Ești sigur că vrei să ștergi acest produs?" }, class: "table-button danger", form: { class: "d-inline-block m-0" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>






  </div>
</div>

