<p>
  <strong>Nume:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<p>
  <strong>Titlu descriere:</strong>
  <%= @product.description_title %>
</p>

<p>
  <strong>Descriere:</strong>
  <%= simple_format(@product.description) %>
</p>

<p>
  <strong>Preț:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<% if @product.discount_price.present? %>
  <p>
    <strong>Preț promoțional:</strong>
    <%= number_to_currency(@product.discount_price) %>
  </p>
<% end %>

<p>
  <strong>Preț de achiziție:</strong>
  <%= number_to_currency(@product.cost_price) %>
</p>

<p>
  <strong>SKU:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Stoc:</strong>
  <%= @product.stock %> (<%= @product.stock_status.humanize %>)
</p>

<p>
  <strong>Se scade stocul automat?</strong>
  <%= @product.track_inventory ? "Da" : "Nu" %>
</p>

<p>
  <strong>Se vinde individual?</strong>
  <%= @product.sold_individually ? "Da" : "Nu" %>
</p>

<p>
  <strong>Disponibil din:</strong>
  <%= @product.available_on %>
</p>

<p>
  <strong>Disponibil până la:</strong>
  <%= @product.discontinue_on %>
</p>

<p>
  <strong>Dimensiuni (H x W x D):</strong>
  <%= [@product.height, @product.width, @product.depth].compact.join(" x ") %> cm
</p>

<p>
  <strong>Greutate:</strong>
  <%= @product.weight %> kg
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status.humanize %>
</p>

<p>
  <strong>Este evidențiat?</strong>
  <%= @product.featured ? "Da" : "Nu" %>
</p>

<p>
  <strong>Meta Title:</strong>
  <%= @product.meta_title %>
</p>

<p>
  <strong>Meta Description:</strong>
  <%= @product.meta_description %>
</p>

<p>
  <strong>Meta Keywords:</strong>
  <%= @product.meta_keywords %>
</p>






<p>
  <strong>Tip produs:</strong>
  <%= @product.product_type.humanize %>
</p>

<p>
  <strong>Mod de livrare:</strong>
  <%= @product.delivery_method.humanize %>
</p>

<p>
  <strong>Vizibil pentru utilizatori neautentificați:</strong>
  <%= @product.visible_to_guests ? "Da" : "Nu" %>
</p>

<p>
  <strong>Se aplică TVA:</strong>
  <%= @product.taxable ? "Da" : "Nu" %>
</p>

<p>
  <strong>Se poate aplica cupon de reducere:</strong>
  <%= @product.coupon_applicable ? "Da" : "Nu" %>
</p>

<p>
  <strong>Categorii:</strong><br>
  <% if @product.categories.any? %>
    <ul>
      <% @product.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  <% else %>
    <em>(Fără categorii asociate)</em>
  <% end %>
</p>


<p>
  <strong>Necesită autentificare pentru cumpărare:</strong>
  <%= @product.requires_login ? "Da" : "Nu" %>
</p>

<p>
 <% if @product.attached_files.attached? %>
  <p><strong>Fișiere atașate:</strong></p>
  <ul>
    <% @product.attached_files.each do |file| %>
      <li>
        <%= link_to file.filename.to_s, url_for(file), target: "_blank" %>
        <%= link_to "✕ Șterge", purge_attached_file_product_path(@product, file_id: file.id),
                    method: :delete,
                    data: { confirm: "Sigur vrei să ștergi fișierul?" },
                    class: "btn btn-sm btn-danger ms-2" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><strong>Fișiere atașate:</strong> (niciun fișier)</p>
<% end %>

</p>















<p>
  <strong>Atribute suplimentare:</strong><br>
  <pre><%= JSON.pretty_generate(@product.attributes || {}) rescue "{}" %></pre>
</p>

<p>
  <strong>Imagine principală:</strong><br>
  <% if @product.main_image.attached? %>
    <%= image_tag @product.main_image.variant(resize_to_limit: [300, 300]) %>
  <% else %>
    (fără imagine)
  <% end %>
</p>

<p>
  <strong>Imagini secundare:</strong><br>
  <% if @product.secondary_images.attached? %>
    <% @product.secondary_images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [150, 150]), style: "margin-right: 10px;" %>
    <% end %>
  <% else %>
    (fără imagini)
  <% end %>
</p>


<hr>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
