<script>
  console.log("salut din header");
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    console.log("✅ DOMContentLoaded a fost declanșat");

    const logoLink = document.querySelector(".navbar-brand");
    console.log("🔍 logoLink =", logoLink);

    if (logoLink) {
      logoLink.addEventListener("mouseenter", function() {
        console.log("✅ Hover pe logo");
      });
    } else {
      console.log("❌ Nu am găsit .navbar-brand");
    }
  });
</script>

<div class="header_container">
  <header>
    <a href="/" class="navbar-brand">
      <img src="<%= image_path('Ayus Grup.webp') %>" alt="Ayus Cell Romania" class="logo" />
    </a>

    <div>
      <nav>
        <%= link_to "Acasă", root_path %>
        <%= link_to "Articole", "#" %>
        <%= link_to "Resurse Digitale", "#" %>
        <%= link_to "Despre", "#" %>
        <%= link_to "Contact", "#" %>

        <% if current_user&.admin? %>
      
          <%= link_to "Admin", admin_path, class: "admin-link" %>
       <% end %>
      </nav>

      <nav>
        <% if current_user %>
          <%= button_to "Delogare", destroy_user_session_path,
              method: :delete,
              form: { class: "inline" },
              class: "link-button" %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Creează un cont", new_user_registration_path %>
        <% end %>
      </nav>
    </div>
  </header>
</div>
